@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
    --coke1: #d90103;
    --coke2: #8a0000;
    --coke3: #f4262c;
    --coke-text: #a5a9ae;
    --fanta1: #ef7d26;
    --fanta2: #e85e26;
    --fanta3: #e20000;
    --fanta-text: #000000;
    --sprite1: #1b4284;
    --sprite-text: #d8dee1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #000000;
}

/* HEADER */
#header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem 2rem 2rem;
    position: fixed;
    overflow: hidden;
    top: 0;
    height: 60px;
}

#header-img {
    width: 100px;
    height: 100px;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar, a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 18px;
}

/* CUP OF COCKTAIL */
#home {
    height: 450px;
    right: 10%;
    top: 15%;
    position: absolute;
    z-index: -1;
}

/* FORM */
#form {
    margin-top: 15rem;
    margin-left: 5rem;
    height: 100vh;
}

#form h2 {
    font-weight: 800;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    color: var(--sprite-text);
}

#form p {
    margin-bottom: 1rem;
    color: var(--coke-text);
}
#email {
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--sprite-text);
    width: 380px;
    height: 3rem;
    padding-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#submit {
    outline: none;
    border: none;
    background-color: var(--fanta3);
    height: 3rem;
    width: 6rem;
    margin-left: .5rem;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

/* FANTA */

#fanta {
    height: 100vh;
    width: auto;
    background-color: var(--fanta2);
}

#fanta h2 {
    font-weight: 800;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    color: var(--sprite-text);
    margin-left: 35rem;
    padding-top: 15rem;
    width: fit-content;
}

#fanta p {
    margin-left: 35rem;
    color: var(--coke-text);
    padding-right: 5rem;
}

#fanta-drink {
    position: absolute;
    margin-top: 5rem;
}